version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_simple
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: smart_cache
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis_simple
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --maxmemory-policy noeviction
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:
